
    <header class="header d-flex align-items-center justify-content-center">
        <h1>Welcome to India Heritage Rivival </h1>
    </header>

    <div class="container-fluid mt-4">
        <div class="collapse" id="experienceImages">
            <div class="row">
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/Ellora-Caves.jpg" class="card-img-top" alt="Heritage">
                        <div class="card-body">
                            <h5 class="card-title text-center">Heritage</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/Hindu mandir.avif" class="card-img-top" alt="Spiritual">
                        <div class="card-body">
                            <h5 class="card-title text-center">Spiritual</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/caves.avif" class="card-img-top" alt="Adventure">
                        <div class="card-body">
                            <h5 class="card-title text-center">Adventure</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/elephanta.jpeg" class="card-img-top" alt="Nature and Wildlife">
                        <div class="card-body">
                            <h5 class="card-title text-center">Nature and Wildlife</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/art.jpg" class="card-img-top" alt="Art">
                        <div class="card-body">
                            <h5 class="card-title text-center">Art</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/food.jpeg" class="card-img-top" alt="Food and Cuisine">
                        <div class="card-body">
                            <h5 class="card-title text-center">Food and Cuisine</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/luxury.jpg" class="card-img-top" alt="Luxury">
                        <div class="card-body">
                            <h5 class="card-title text-center">Luxury</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/yoga wellness.jpg" class="card-img-top" alt="Yoga and Wellness">
                        <div class="card-body">
                            <h5 class="card-title text-center">Yoga and Wellness</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/shopping.jpg" class="card-img-top" alt="Shopping">
                        <div class="card-body">
                            <h5 class="card-title text-center">Shopping</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/unesco.webp" class="card-img-top" alt="UNESCO World Heritage Sites">
                        <div class="card-body">
                            <h5 class="card-title text-center">UNESCO World Heritage Sites</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/Museum in india.jpg" class="card-img-top" alt="Museums in India">
                        <div class="card-body">
                            <h5 class="card-title text-center">Museums in India</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/crafted.jpeg" class="card-img-top" alt="Crafted in India">
                        <div class="card-body">
                            <h5 class="card-title text-center">Crafted in India</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="collapse" id="destinationsImages">
            <div class="row">
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/popular destinations.jpg" class="card-img-top" alt="Heritage">
                        <div class="card-body">
                            <h5 class="card-title text-center">Popular Destinations</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/Spiritual Distinations.jpg" class="card-img-top" alt="Spiritual">
                        <div class="card-body">
                            <h5 class="card-title text-center">Spiritual Distinations</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/Heritage Destinations.avif" class="card-img-top" alt="Adventure">
                        <div class="card-body">
                            <h5 class="card-title text-center">Heritage Destinations</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/lord buddha.jpg" class="card-img-top" alt="Nature and Wildlife">
                        <div class="card-body">
                            <h5 class="card-title text-center">The land of Buddha</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/State and union Territories.jpg" class="card-img-top" alt="Art">
                        <div class="card-body">
                            <h5 class="card-title text-center">State and union Territories</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/all destinations.jpg" class="card-img-top" alt="Food and Cuisine">
                        <div class="card-body">
                            <h5 class="card-title text-center">All Destinations</h5>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <div class="container-fluid mt-4">
        <div class="collapse" id="travelImages">
            <div class="row">
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/about india.jpg" class="card-img-top" alt="Heritage">
                        <div class="card-body">
                            <h5 class="card-title text-center">About India</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/currency.jpg" class="card-img-top" alt="Spiritual">
                        <div class="card-body">
                            <h5 class="card-title text-center">Currency</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/whether.jpg" class="card-img-top" alt="Adventure">
                        <div class="card-body">
                            <h5 class="card-title text-center">Whether</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/audio guide.jpg" class="card-img-top" alt="Nature and Wildlife">
                        <div class="card-body">
                            <h5 class="card-title text-center">Audio Guide</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/repository.jpeg" class="card-img-top" alt="Art">
                        <div class="card-body">
                            <h5 class="card-title text-center">Repository</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="../../assets/images/Hotels-in-India.jpg" class="card-img-top" alt="Food and Cuisine">
                        <div class="card-body">
                            <h5 class="card-title text-center">Hotels</h5>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
  
