body {
    background-color: #1d4c70;
    color: white;
    
}
.collapse .row {
    margin: 0; 
} 


.header {
    height: 7vh;

    color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

.card {
    background-color: #1d4c70;
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-title {
    text-align: center;
    font-weight: bold;
    color: white;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.05);
}
