<nav class="navbar navbar-expand-lg navbar-dark bg-red-800">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="../../assets/dancing.png" alt="Logo" width="50" height="50" class="mr-2">
      <h1 class="mb-0" style="font-family: 'Brush Script MT', cursive;">India Heritage Revival</h1>
  </a>
      <div class="d-flex w-100 justify-content-between">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <button class="btn btn-link nav-link" type="button" data-toggle="collapse" data-target="#destinationsImages">
                  Destinations <i class="fas fa-chevron-down"></i>
              </button>
          </li>
          <li class="nav-item">
              <button class="btn btn-link nav-link" type="button" data-toggle="collapse" data-target="#experienceImages">
                  Experiences <i class="fas fa-chevron-down"></i>
              </button>
          </li>
          <li class="nav-item">
              <button class="btn btn-link nav-link" type="button" data-toggle="collapse" data-target="#travelImages">
                  Travel <i class="fas fa-chevron-down"></i>
              </button>
          </li>
      </ul>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#home">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#shop">
                      <i class="fas fa-shopping-cart"></i> Shop
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>
