<div class="container text-center my-5">
    <h1>New Additions</h1>
    <div class="design-line"></div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-2 col-sm-6 mb-4" routerLink="jewllery">
            <div class="card">
                <img src="../../assets/images/Jewellery.jpg" class="card-img-top" alt="Jewellery of the Nizams">
                <div class="card-body p-2">
                    <p class="card-title m-0">Jewellery of the Nizams</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card">
                <img src="../../assets/images/ajanta caves.jpg" class="card-img-top" alt="Ajanta Caves">
                <div class="card-body p-2">
                    <p class="card-title m-0">Ajanta Caves</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card">
                <img src="../../assets/images/north east.webp" class="card-img-top" alt="The North-East Archive">
                <div class="card-body p-2">
                    <p class="card-title m-0">The North-East Archive</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card">
                <img src="../../assets/images/fort of inida.jpg" class="card-img-top" alt="Forts of India">
                <div class="card-body p-2">
                    <p class="card-title m-0">Forts of India</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card">
                <img src="../../assets/images/Virtual Walkthrough.jpg" class="card-img-top" alt="Virtual Walkthrough">
                <div class="card-body p-2">
                    <p class="card-title m-0">Virtual Walkthrough</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 mb-4">
            <div class="card">
                <img src="../../assets/images/Historic imags.jpg" class="card-img-top" alt="Historic Cities Of India">
                <div class="card-body p-2">
                    <p class="card-title m-0">Historic Cities Of India</p>
                </div>
            </div>
        </div>
    </div>
</div>


    <section class="keep-exploring">
        <div class="container">
            <h2 class="text-center">Keep exploring</h2>
            <div class="design-line"></div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/exhibit?project=wonders-of-india  " class="card-link">
                    <div class="card">
                        <img src="https://thecsruniverse.com/adminxsafe/uploads/Interglobe%20News%20Item.JPG" class="card-img-top" alt="Exhibits">
                        <div class="card-body text-center">
                            <h5 class="card-title">Exhibits</h5>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/video?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://img.jagranjosh.com/imported/images/E/Articles/Cultural-Heritage-of-India.jpg" class="card-img-top" alt="Videos">
                        <div class="card-body text-center">
                            <h5 class="card-title">Videos</h5>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/asset?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://img.freepik.com/premium-photo/cultural-heritage-india_670382-130922.jpg" class="card-img-top" alt="Images">
                        <div class="card-body text-center">
                            <h5 class="card-title">Images</h5>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/streetview?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://s3.amazonaws.com/iomedia-s3/media/celebrities/15813/products/_03__L.jpg" class="card-img-top" alt="Virtual Tours">
                        <div class="card-body text-center">
                            <h5 class="card-title">Virtual Tours</h5>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/partner?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://m.economictimes.com/thumb/msid-94468031,width-1600,height-900,resizemode-4,imgsize-241714/india-heritage-art.jpg" class="card-img-top" alt="Collections">
                        <div class="card-body text-center">
                            <h5 class="card-title">Collections</h5>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://artsandculture.google.com/search/partner?project=wonders-of-india" class="card-link">
                    <div class="card">
                        <img src="https://m.economictimes.com/thumb/msid-94468031,width-1600,height-900,resizemode-4,imgsize-241714/india-heritage-art.jpg" class="card-img-top" alt="Collections">
                        <div class="card-body text-center">
                            <h5 class="card-title">Collections</h5>
                        </div>
                    </div>
                </a>
                </div>
               
            </div>
        </div>
    </section>

   
