<div class="video-container">
    <video src="assets/header-video.mp4" controls autoplay muted loop poster="../../assets/header-video-thumbnail.jpg"></video>
</div>

    <div class="carousel-container">
        <h2>Categories</h2>
        <div class="decorative-line">
          <div class="line left"></div>
          <div class="ornament"></div>
          <div class="line right"></div>
        </div>
        <div class="carousel">
          <button class="carousel-btn left" id="scroll-left">❮</button>
          <div class="carousel-track-container">
            <ul class="carousel-track">
              <!-- Carousel Slides -->
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/microphone.png" alt="Audios">
                <p>Audios</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/microphone.png" alt="Audios">
                <p>Audios</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/microphone.png" alt="Audios">
                <p>Audios</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/microphone.png" alt="Audios">
                <p>Audios</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/microphone.png" alt="Audios">
                <p>Audios</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/microphone.png" alt="Audios">
                <p>Audios</p>
              </li>
              <li class="carousel-slide">
                <img src="https://img.icons8.com/color/48/000000/map.png" alt="Historic Cities of India">
                <p>Historic Cities of India</p>
              </li>
              <!-- Additional slides here -->
            </ul>
          </div>
          <button class="carousel-btn right" id="scroll-right">❯</button>
        </div>
      </div>
      
<div class="container">
  <div class="main-article">
      <div class="article">
          <div class="image-container">
              <img src="https://cdn.sanity.io/images/nlpqts3z/production/cc6097e718a46ed45fe245b742b4878fc2c71c24-1920x1080.jpg" alt="Ustad Mansur – A Wonder Of His Age">
              <a href="#" class="read-now">read now</a>
          </div>
          <div class="article-info">30 Dec | 9 mins | Manoj Dani</div>
          <div class="article-title">Ustad Mansur – A Wonder Of His Age</div>
      </div>
  </div>
  <div class="side-articles">
      <div class="article">
          <div class="image-container">
              <img src="https://miro.medium.com/v2/resize:fit:1200/1*r2bn3QhiPz2SbM6m_Mn3SQ.jpeg" alt="Sake Dean Mohamed">
              <a href="#" class="read-now">read now</a>
          </div>
          <div class="article-info">03 Nov | 6 mins | Aditi Shah</div>
          <div class="article-title">Sake Dean Mohamed: The Indian who Invented Shampoo!</div>
      </div>
      <div class="article">
          <div class="image-container">
              <img src="https://static2.tripoto.com/media/filter/tst/img/1018835/TripDocument/1560847803_suna_hai_uske_labon_se_gulab_jalte_hai5_60.png" alt="A Tantric Temple Riding on a Frog">
              <a href="#" class="read-now">read now</a>
          </div>
          <div class="article-info">20 Oct | 10 mins | Ravi Kumar</div>
          <div class="article-title">A Tantric Temple Riding on a Frog</div>
      </div>
  
<!-- <div class="video-container">
  <h3>Watch: The Story of India</h3>
  <video src="assets/header-video.mp4" controls poster="assets/header-video-thumbnail.jpg"></video>
</div> -->
<div class="container text-center my-5">
  <h1>New Additions</h1>
  <div class="design-line"></div>
  <div class="row justify-content-center mt-4">
      <div class="col-md-2 col-sm-6 mb-4">
          <div class="card">
              <img src="img/Jewellery.jpg" class="card-img-top" alt="Jewellery of the Nizams">
              <div class="card-body p-2">
                  <p class="card-title m-0">Jewellery of the Nizams</p>
              </div>
          </div>
      </div>
      <div class="col-md-2 col-sm-6 mb-4">
          <div class="card">
              <img src="img/ajanta caves.jpg" class="card-img-top" alt="Ajanta Caves">
              <div class="card-body p-2">
                  <p class="card-title m-0">Ajanta Caves</p>
              </div>
          </div>
      </div>
      <div class="col-md-2 col-sm-6 mb-4">
          <div class="card">
              <img src="img/north east.webp" class="card-img-top" alt="The North-East Archive">
              <div class="card-body p-2">
                  <p class="card-title m-0">The North-East Archive</p>
              </div>
          </div>
      </div>
      <div class="col-md-2 col-sm-6 mb-4">
          <div class="card">
              <img src="img/fort of inida.jpg" class="card-img-top" alt="Forts of India">
              <div class="card-body p-2">
                  <p class="card-title m-0">Forts of India</p>
              </div>
          </div>
      </div>
      <div class="col-md-2 col-sm-6 mb-4">
          <div class="card">
              <img src="img/Virtual Walkthrough.jpg" class="card-img-top" alt="Virtual Walkthrough">
              <div class="card-body p-2">
                  <p class="card-title m-0">Virtual Walkthrough</p>
              </div>
          </div>
      </div>
      <div class="col-md-2 col-sm-6 mb-4">
          <div class="card">
              <img src="img/Historic imags.jpg" class="card-img-top" alt="Historic Cities Of India">
              <div class="card-body p-2">
                  <p class="card-title m-0">Historic Cities Of India</p>
              </div>
          </div>
      </div>
  </div>
</div>